---
route: index
---

<!DOCTYPE html>
<html class="is-index" data-template="index">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>{{site.title}} - {{site.description}}</title>
    <link rel="stylesheet" type="text/css" href="{{site.url}}/css/website.css">

    <meta property="og:url" content="{{site.url}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{site.title}}">
    <meta property="og:image" content="{{site.url}}/images/html-tags-share.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="{{site.description}}">

    
   
    <meta name="twitter:creator" content="@jgthms">
    <meta name="twitter:title" content="{{site.title}}">
    <meta name="twitter:image" content="{{site.url}}/images/html-tags-share.png">
    <meta name="twitter:description" content="{{site.description}}">

    {% include favicons.html %}
  </head>
  <body>
   
    <main class="index">
      <div class="index-collections">
        <div class="container">
          <strong>Nhóm:</strong>
          <a href="{{site.url}}/base/">Phần tử căn bản</a>
          <a href="{{site.url}}/forms/">Nhập liệu</a>
          <a href="{{site.url}}/lists/">Danh sách</a>
          <a href="{{site.url}}/semantic/">Ngữ nghĩa</a>
          <a href="{{site.url}}/tables/">Bảng</a>
        </div>
      </div>
      <div class="container">
        <div class="index-left">
          {% include components/finder.html %}
        </div>
      </div>
    </main>
    {% include modals/share.html %}
    {% include google-fonts.html %}
    <script src="{{site.url}}/javascript/clipboard.min.js"></script>
    <script src="{{site.url}}/javascript/main.js"></script>
    <script src="{{site.url}}/javascript/index.js"></script>
    {% include noscript.html %}
  </body>
</html>
