<aside class="menu">
  <a id="logo" class="menu-logo" href="{{site.url}}">
    <img src="{{site.url}}/images/html-tags-logo.png" alt="{{site.title}} logo">
  </a>
  <nav class="menu-collections">
    <p><strong>Phần tử HTML</strong></p>
    <ul>
      <li><a class="menu-collection-link{% if page.route == 'index' %} menu-collection-link--active{% endif %}" href="{{site.url}}">Tất cả</a></li>
      <li><a class="menu-collection-link{% if page.collection_name == 'Phần tử căn bản' %} menu-collection-link--active{% endif %}" href="{{site.url}}/base/">Căn bản</a></li>
      <li><a class="menu-collection-link{% if page.collection_name == 'Nhập liệu' %} menu-collection-link--active{% endif %}" href="{{site.url}}/forms/">Nhập liệu</a></li>
      <li><a class="menu-collection-link{% if page.collection_name == 'Danh sách' %} menu-collection-link--active{% endif %}" href="{{site.url}}/lists/">Danh sách</a></li>
      <li><a class="menu-collection-link{% if page.collection_name == 'Ngữ nghĩa' %} menu-collection-link--active{% endif %}" href="{{site.url}}/semantic/">Ngữ ngĩa</a></li>
      <li><a class="menu-collection-link{% if page.collection_name == 'Bảng' %} menu-collection-link--active{% endif %}" href="{{site.url}}/tables/">Bảng</a></li>
    </ul>
  </nav>
  {% if page.route != "index" %}
    <nav id="menu-nav" class="menu-nav">
      <div class="menu-search">
        <input id="menu-search-input" type="search" autocomplete="off" placeholder="Tìm kiếm 1 phần tử">
        <i class="icon is-search"></i>
      </div>
      <div id="menu-list" class="menu-list">
        <ul id="menu-list-ul" class="menu-list-ul">
          {% if page.menu_list && page.layout == "collection" %}
            {% include collections/{{page.menu_list}}.html %}
          {% else %}
            {% include lists/menu-list.html %}
          {% endif %}
        </ul>
        <i id="menu-shadow-top" class="menu-list-shadow is-top"></i>
        <i id="menu-shadow-bottom" class="menu-list-shadow is-bottom"></i>
      </div>
      <a id="menu-nav-close" class="menu-close">
        <i class="icon is-close"></i>
        <strong>Đóng</strong>
      </a>
    </nav>
  {% endif %}
</aside>